<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/ip.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>用户：</td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password" id="password"></td>
        </tr>
        <tr>
            <td>邮箱：</td>
            <td><input type="text" name="email" id="email"></td>
        </tr>
        <tr>
            <td><input type="button" id="regist" value="注册"></td>
        </tr>
    </table>
</body>
<script type="text/javascript">
$("#regist").click(function(){
	$.ajax({
		url:"http://"+ip+":8080/regist/verify",
		dataType:"json",
		data:{
			username:$("#username").val(),
			password:$("#password").val(),
			email:$("#email").val()
		},
		success:function(result){
			console.log("result",result)
			if(result == 1){
				alert("注册成功！前往登录")
				window.location.href="Login.html"
			}
    	}
	});
});
</script>
</html>