<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>验证成功</title>
    <script src="js/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div>
    	<h1>验证成功！！！</h1>
    	<button id="login">点我去登录</button>
    </div>
</body>
<script type="text/javascript">
$("#login").click(function(){
	window.location.href="Login.html"
});
</script>
</html>